
.profile-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    font-family: Roboto, Arial;
}
.box-container{
    box-shadow: 5px 5px 10px grey;
    border-radius: 2px;
    padding-bottom: 0;
}
.profile{
    margin-bottom: 12px;
}
.card{
    width: 100%;
}
.profile-grid-info{
    padding-left: 20px;
    padding-bottom: 20px;
}

.profile-details{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    margin-bottom: 10px;
}
.image{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
h2{
    margin-bottom: 0;
}
button{
    background-color: rgb(41, 139, 205);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px 40px;
    font-size: large;
}
